In [2]:
a = 10
b = -5
c = 0

sum_result = a + b
product_result = a * b

print("a:", a)
print("b:", b)
print("c:", c)
print("合計:", sum_result)
print("積:", product_result)

division_result = a / 3
integer_division_result =  a // 3

print("除算結果:", division_result)
print("整数除算結果:", integer_division_result)

a: 10
b: -5
c: 0
合計: 5
積: -50
除算結果: 3.3333333333333335
整数除算結果: 3

In [3]:
x = 3.14
y = -0.5
z = 2.0

sum_result = x + y
product_result = x * y

print("x:", x)
print("y:", y)
print("z:", z)
print("合計:", sum_result)
print("積:", product_result)

x: 3.14
y: -0.5
z: 2.0
合計: 2.64
積: -1.57

In [4]:
result = 0.1 + 0.2
print("0.1 + 0.2 =", result)

0.1 + 0.2 = 0.30000000000000004

In [5]:
a = 10
b = float(a)

print("a の型:", type(a))
print("b の型:", type(b))

a の型: <class 'int'>
b の型: <class 'float'>

In [6]:
x = 3.99
y = int(x)

print("x の型:", type(x))
print("y の型:", type(y))
print("y の値:", y)

x の型: <class 'float'>
y の型: <class 'int'>
y の値: 3

In [7]:
num = 1.23e4
print(num)

12300.0

In [8]:
num = 1.23e-4
print(num)

0.000123

In [10]:
c1 = 2 + 3j
c2 = -1 + 0.5j

sum_result = c1 + c2
product_result = c1 * c2

print("c1:", c1)
print("c2:", c2)
print("合計:", sum_result)
print("積:", product_result)

c1: (2+3j)
c2: (-1+0.5j)
合計: (1+3.5j)
積: (-3.5-2j)

In [11]:
text1 = "「'」はシングルクォートです。"
text2 = '「"」はダブルクォートです。'
print(text1)
print(text2)

「'」はシングルクォートです。
「"」はダブルクォートです。

In [12]:
text1 = "Hello"
text2 = "World"
result = text1 + " " + text2
print(result)

text = "Hi! "
print(text * 3)

length = len("Hello, World!")
print("文字列の長さ:", length)

Hello World
Hi! Hi! Hi!
文字列の長さ: 13

In [14]:
text = "Python"
print(text.upper())
print(text.lower())

text = "Hello, World"
print(text.replace("World", "Python"))

text = "  Hello, World!  "
print(text.strip())

text = "Hello, World"
print(text.find("World"))

PYTHON
python
Hello, Python
Hello, World!
7

In [15]:
print("エスケープを使うと、「\'」シングルクォートと「\"」ダブルクォートを混在させたり、\n改行や\tタブを入れたりと多彩な表現が可能です")

エスケープを使うと、「'」シングルクォートと「"」ダブルクォートを混在させたり、
改行や	タブを入れたりと多彩な表現が可能です

In [16]:
message = '''A様
いつもお世話になっております。Bです。
先日はお越しくださりありがとうございました。
またのご来店をお待ちしております。'''

print(message)

A様
いつもお世話になっております。Bです。
先日はお越しくださりありがとうございました。
またのご来店をお待ちしております。

In [17]:
num = 100
num_str = str(num)

print("num_str の型:", type(num_str))
print("num_str の値:", num_str)

str_value = "250"
int_value = int(str_value)

print("int_valueの型:", type(int_value))
print("int_valueの値:", int_value)

num_str の型: <class 'str'>
num_str の値: 100
int_valueの型: <class 'int'>
int_valueの値: 250

In [18]:
name = input("名前を入力してください: ")
print("こんにちは、" + name + "さん!")

こんにちは、testさん!

In [19]:
num = int(input("数値を入力してください: "))
result = num + 10
print("入力した数値に10を足すと", result, "です")

入力した数値に10を足すと 15 です

In [20]:
name = "ジョン"
age = 30
print(f"私の名前は{name}です。私は{age}歳です。")

私の名前はジョンです。私は30歳です。

In [21]:
a = 5
b = 10
print(f"{a}足す{b}は{a + b}です。")

5足す10は15です。

In [22]:
pi = 3.14159
print(f"小数点以下の桁数: {pi:.2f}")

large_number = 1234567890
print(f"カンマ区切り: {large_number:,}")

name = "Alice"
print(f"文字列の幅「{name:10}」")

num = 42
print(f"ゼロ埋め: {num:05}")

accuracy = 0.856
print(f"パーセント表示: {accuracy:.1%}")

name = "Alice"
print(f"左揃え　「{name:<10}」")
print(f"右揃え　「{name:>10}」")
print(f"中央揃え「{name:^10}」")

from datetime import datetime
now = datetime.now()
print(f"現在日時: {now:%Y-%m-%d %H:%M:%S}")

小数点以下の桁数: 3.14
カンマ区切り: 1,234,567,890
文字列の幅「Alice     」
ゼロ埋め: 00042
パーセント表示: 85.6%
左揃え　「Alice     」
右揃え　「     Alice」
中央揃え「  Alice   」
現在日時: 2026-02-16 19:48:45